*root{
    margin: 0px;
}

.cabecalho ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dddddd;
}

.cabecalho li{
    display: inline;
    float: left;
    display: block;
  padding: 8px;
  background-color: #dddddd;
}

.cabecalho li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }